body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
    background-image: url("img_parallax.jpg");
    min-height: 100%;
}

.bgimg-2 {
    background-image: url("img_parallax2.jpg");
    min-height: 100%;
}

.bgimg-3 {
    background-image: url("img_parallax3.jpg");
    min-height: 200%;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

    .caption span.border {
        background-color: #111;
        color: #fff;
        padding: 18px;
        font-size: 25px;
        letter-spacing: 10px;
    }

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

.header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
}

#navbar {
    overflow: hidden;
    background-color: rgba(0,0,0,0.3);
    opacity:0;
    color:#ddd;

}

    #navbar a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;

    }

        #navbar a:hover {
            background-color: rgba(255,255,255,0.4);
            color: black;
        }


.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

    .sticky + .content {
        padding-top: 60px;
    }

.sticky2 {
    position: fixed;
    top: 0;
    width: 100%;
}

    .sticky2 + .content2 {
        padding-top: 60px;
    }

.caption-big {
    position: absolute;
    left: 15%;
    top: 30%;
    bottom: 30%;
    right: 15%;
    width: 70%;
    text-align: center;
    color: #000;
}

    .caption-big span.border-big {
        background-color: #111;
        color: #fff;
        padding: 18px;
        font-size: 25px;
        letter-spacing: 5px;
    }

.card {
    padding: 16px;
    margin: 24px;
    border-radius: 2px;
    background-color: gray;
    background: rgb(0,0,0,0.5);
    color: #FFF;
}

    .card .card-title {
        padding: 24px 16px 8px;
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
    }

    .card p {
        font-size: 18px;
        //font-size: 1.6rem;
        font-weight: 800;
        letter-spacing: 0.010em;
        line-height: 1.6em;
        padding: 0 16px;
    }

.section_header {
  color: #777;
  background-color: white;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
  position:relative;
}

form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid cadetblue;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid cadetblue; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  width: 100%;
  background:cadetblue;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#0070a3; }
